@model IEnumerable<Tarefas.Application.ViewModels.TarefaViewModel>

@{
    ViewData["Title"] = "Minhas Tarefas";
}

<div class="container">

    <h3>@ViewData["Title"]</h3>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Nova Tarefa
        </a>
    </p>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCriacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataAlteracao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.DataCriacao == DateTime.MinValue)
                        {
                            <p class="text-left">-</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        }
                    </td>
                    <td>
                        @if (item.DataAlteracao == DateTime.MinValue)
                        {
                            <p class="text-left">-</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DataAlteracao)
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Editar
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-search"></span> Detalhes
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Apagar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{

    <script>
        iniciarToastr();
    </script>

    @{
        if (TempData["RetornoPost"] != null)
        {
            var notificacao = TempData["RetornoPost"].ToString().Split(',');

            <script>
                toastr["@notificacao[0]"]("@Html.Raw(notificacao[1])");
            </script>
        }
    }
}